# -----------------------------
# Environment files
# -----------------------------
.env
.env.*
env.development
env.production

# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual environments
# -----------------------------
venv/
.venv/
ENV/
env/
env.bak/
venv.bak/
myenv

# -----------------------------
# Python build files
# -----------------------------
build/
dist/
*.egg-info/
.eggs/

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints

# -----------------------------
# Testing / coverage
# -----------------------------
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# -----------------------------
# IDE settings
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Temporary files
# -----------------------------
*.tmp
*.temp
*.swp
*.swo


# -----------------------------
# Secrets
# -----------------------------
secrets/
*.pem
*.key

to_add.txt